{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="min-h-screen bg-cover bg-center" style="background-image: url('{% static 'image/landing_page_bg.png' %}');">
    <header class="py-2" style="background: linear-gradient(260deg, #C89A45 3.84%, #B5592A 60.95%, #B5592A 102.92%);
    box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.25);
    Linear Gradient">
      <div class="container mx-auto flex items-center">
        <img src="{% static 'image/logo.png' %}" class="w-36" alt="Logo" />
      </div>
    </header>
  </div>
{% endblock %}
