{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen" style="background: linear-gradient(153deg, #F09027 12.76%, #8CBEAA 71.77%);">
	<div class="flex space-x-8">
		<button onclick="showModal()" class="w-12 h-12 bg-[rgb(210,107,16)] rounded-lg text-lg text-center align-center hover:bg-[rgb(181,105,39)] text-white font-bold">
			Add
		</button>	
		<select id="sort_by_price" onchange="filter()" class="border bg-opacity-80 border-gray-300 rounded-lg px-4 py-2 text-gray-700 bg-white ">
			<option value="potongan_asc" class="bg-opacity-50">Potongan Terendah</option>
			<option value="potongan_desc" class="bg-opacity-50">Potongan Tertinggi</option>
			<option value="tanggal_desc" class="bg-opacity-50">Kadaluarsa Terlama</option>
			<option value="tanggal_asc" class="bg-opacity-50">Kadaluarsa Tercepat</option>
		</select>
	</div>
	<div>
		<div id="promo_cards" class="grid grid-cols-1 md:grid-cols-3 gap-6 px-20 py-10">
	</div>
	<script src="https://cdn.tailwindcss.com"></script>
	<div class="fixed inset-0 flex items-center justify-center bg-opacity-50 text-center" style="display: none;" id="modal">
		<div class=" bg-gradient-to-b from-[#8CBEAA] to-[#73D28C] rounded-lg p-5 border-[#4c3013] border-4" id="modal_content" >
		  <div style="padding-top: 1;font-size: large;font-weight: bold;" class="pb-2"> <!--Header-->
			<p class="text-center text-[#4c3013]">Tambah Promo</p>
		  </div>
		  <div> <!--Body-->
			<form id="formpromo" action="{% url 'promo:add_promo' %}">
			  <div>
				<input type="text" name="nama" id="nama" placeholder="Nama" maxlength="20" minlength="4" class="mt-1 mb-1 rounded-lg p-1 text-s" required>
			  </div>
			  <div>
				<input type="text" name="kode" id="kode" placeholder="Kode" maxlength="15" minlength="4"  class="mt-1 mb-1 rounded-lg p-1 text-s" required>
			  </div>
			  <div>
				<input type="number" step="100" maxlength="8" min=0 name="potongan" id="potongan" placeholder="Rp Potongan" class="mt-1 mb-1 rounded-lg p-1 text-s" oninput="checkLength(this)" required>
			  </div>
			  <div class="inline-flex">
				<p class="pr-2 text-[#4c3013] font-bold">Kadaluarsa</p>
				<input type="date"name="tanggal_akhir_berlaku" id="tanggal_akhir_berlaku" class="w-5" class="mt-1 mb-1 rounded-lg p-1 text-s" required> 
			  </div>
			  <div> 
				<input type="number" step="1" min=0 name="stock" id="stock" placeholder="Stock" class="mt-1 mb-1 rounded-lg p-1 text-s" required>
			  </div>
			  <div>
				<textarea name="deskripsi" id="deskripsi" placeholder="deskripsi" class="mt-1 mb-1 rounded-lg p-1 text-s" style="resize: none;width: 100%; " required ></textarea>
			  </div>
			</form>
		  </div>
		  <div class="flex space-x-2"> <!--footer-->
			<button type="button" id="cancel" class="bg-[#8a1616] text-xs p-1 rounded-lg w-full text-white" onclick="hideModal()">Cancel</button>
			<button type="submit" id="submitItem" form="formpromo" class="bg-[#4c3013] text-white text-xs p-1 rounded-lg w-full">Save</button>
		</div>
		</div>  
	</div>	
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

let order_by = "potongan";
let urutan = "asc";

const promoUrl = "{% url 'promo:show_json' %}";

async function get_promo() {
    const response = await fetch(`${promoUrl}?order_by=${order_by}&urutan=${urutan}`);
	console.log(response);
    const data = await response.json();
    return data;
}

async function refreshPromo() {
    const promos = await get_promo(order_by, urutan);
    let htmlString = "";
    
    if (promos.length === 0) {
        $("#promo_cards").html('<p class="text-lg font-semibold text-white col-span-full text-center">Belum ada promo :(</p>');
    } else {
        promos.forEach((promo) => {
            let potonganValue = promo.fields.potongan / 1000;
            let bgColor;
            let textColor = 'text-white';

            if (potonganValue <= 100) {
                bgColor = "bg-[#4E9B00]";
            } else if (potonganValue <= 1000) {
                bgColor = "bg-[#FF6E20]";
            } else {
                bgColor = "bg-[#9812FF]";
            }
			let sufiks = "";
			let potongan;
			if (potonganValue >= 1000){
				sufiks = "jt"
				potonganValue = parseFloat(promo.fields.potongan) /1000000;
				potongan = Number.isInteger(potonganValue) ? 
                       potonganValue.toFixed(0) + sufiks : 
                       potonganValue.toFixed(2) + sufiks;
			} else if(potonganValue >= 1){
				sufiks = "k"
				potongan = Number.isInteger(potonganValue) ? 
                       potonganValue.toFixed(0) + sufiks : 
                       potonganValue.toFixed(1) + sufiks;
			}
			if (promo.fields.potongan < 1000) {
				potongan = promo.fields.potongan;
				potongan = parseInt(potongan);
			}
			

            htmlString += `
            <a href="view_promo_admin/${promo.pk}" class="block no-underline text-black transition-transform hover:scale-105">
                <div class="flex bg-white rounded-2xl font-['Mouse_Memoirs'] bg-opacity-70 max-w-80">
                    <div class="flex-[3] text-center flex flex-col justify-center items-center p-4">
                        <div class="text-2xl md:text-3xl lg:text-2xl mb-2 underline">${promo.fields.nama}</div>
                        <div class="text-base md:text-lg lg:text-xl">kode: ${promo.fields.kode}</div>
                        <div class="text-base md:text-lg lg:text-xl">Valid hingga ${promo.fields.tanggal_akhir_berlaku}</div>
                    </div>
                    <div class="flex-[2] ${bgColor} rounded-r-2xl flex items-center justify-center text-3xl md:text-3xl lg:text-3xl ${textColor}">
                        Rp${potongan}
                    </div>
                </div>
            </a>`;
        });
        $("#promo_cards").html(htmlString);
    }
}

refreshPromo();

function filter(){
	const sortSelect = document.getElementById('sort_by_price').value;
    if (sortSelect === "potongan_asc") {
        order_by = "potongan";
		urutan =  "asc" ;
    } else if (sortSelect === "potongan_desc") {
        order_by = "potongan";
		urutan =  "desc" ;
    } else if (sortSelect === "tanggal_asc") {
        order_by = "tanggal_akhir_berlaku";
		urutan =  "asc" ;
    } else if (sortSelect === "tanggal_desc") {
        order_by = "tanggal_akhir_berlaku";
		urutan =  "desc" ;
    } 
	refreshPromo();
}

function showModal() {
	$("#modal").css("display","");
	$("a").css("pointer-event","none")
}

function hideModal() {
	$("#modal").css("display","none")
	$("a").css("pointer-event","")
	$("html").css("overflow","")
}

function checkLength(input) {
    if (input.value.length > 8) {
        input.value = input.value.slice(0, 8); 
    }
}

//https://gawibowo.com/submit-form-dengan-ajax-menggunakan-jquery.htm
$('#formpromo').submit(function() {
		$.ajax({
			type: 'POST',
			url: $(this).attr('action'),
			data: $(this).serialize(),
			success: function(data) {
				refreshPromo();
				document.getElementById("formpromo").reset();
				hideModal();
			}
		})
		return false;
	})


</script>



{% endblock content %} 	