<link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">

<div style="background-color: #FFF0F0; display: inline-flex; width: 30vw; height: 12vw; border-radius: 2vh; font-family: 'Mouse Memoirs';">
  <div style="flex: 3; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; font-style: normal; font-weight: 400; line-height: normal; width: 100%;margin-bottom: 1vw;">
    <div style="font-size: 3vw; flex: 3; display: flex; justify-content: center; align-items: center; width: 100%;">CawirPeranti</div>
    <div style="font-size: 2vw; flex: 1; display: flex; justify-content: center; align-items: center; width: 100%;margin-bottom: 0.5vw;">kode: basDeadHard</div>
    <div style="font-size: 2vw; flex: 1; display: flex; justify-content: center; align-items: center; width: 100%;margin-bottom: 0.5vw;">Valid hingga 12/12/2012</div>
  </div>
  <div style="flex: 2; background-color: purple; border-bottom-right-radius: 2vh; border-top-right-radius: 2vh; width: 100%;color: white;text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;font-size: 4vw; ">
    1000k
  </div>
</div>

<style>
  @media (max-width: 600px) {
    div {
      font-size: 4vw; /* Adjust font size for smaller screens */
      background-color: #FFF0F0; display: inline-flex; width: 30vw; height: 12vw; border-radius: 2vh; font-family: 'Mouse Memoirs';
    }
  }
</style>