<a href="view_promo_admin/${promo.pk}" class="block no-underline text-black transition-transform hover:scale-105">
  <div class="flex bg-[#FFF0F0] rounded-2xl font-['Mouse_Memoirs'] max-w-80">
      <div class="flex-[3] text-center flex flex-col justify-center items-center p-4">
          <div class="text-2xl md:text-3xl lg:text-2xl mb-2 underline">${promo.fields.nama}</div>
          <div class="text-base md:text-lg lg:text-xl">kode: ${promo.fields.kode}</div>
          <div class="text-base md:text-lg lg:text-xl">Valid hingga ${promo.fields.tanggal_akhir_berlaku}</div>
      </div>
      <div class="flex-[2] ${bgColor} rounded-r-2xl flex items-center justify-center text-3xl md:text-4xl lg:text-5xl ${textColor}">
          ${potongan}
      </div>
  </div>
</a>`;