<div style="width: 20vw;max-width: 20vw;background-color: gainsboro;">
    <div style="background-color: blue; display: inline-flex">
        <div style="display: flexbox;">
          <div> <!--Header-->
            {{promo.nama}}
          </div>
          <div style="display: inline-flex;"> <!--Header-->
            <div style="margin-right: 2vh;">Ini untuk gambar</div>
            <div>{{promo.potongan}}</div>
          </div>
        </div>
      </div>
      <div>
        {{promo.deskripsi}}
      </div>
			<div>
				Stock: {{promo.stock}}
			</div>
			<button>Edit</button>
			<button>Del</button>
</div>