{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col items-center font-sans" style="background: linear-gradient(153deg, #F09027 12.76%, #8CBEAA 71.77%);">
    <div id="product_cards"></div>
    <div class="flex flex-col md:flex-row justify-center mt-4 w-full max-w-7xl p-5">
      <div class="flex flex-wrap justify-center space-x-4 md:space-x-8">
          <select id="sortDropdown" class="bg-[#b85c2c] text-white md:text-base text-sm font-bold py-2 px-1 md:px- rounded-lg transition duration-300 ease-in-out transform hover:bg-[#b85c2c] hover:scale-101 mt-4">
              <option value="ascending">Urut berdasarkan harga: Naik</option>
              <option value="descending">Urut berdasarkan harga: Turun</option>
              <option value="atoz">Urut berdasarkan alfabet: Naik</option>
              <option value="ztoa">Urut berdasarkan alfabet: Turun</option>
              <option value="newtoold">Urut berdasarkan waktu: Naik</option>
              <option value="oldtonew">Urut berdasarkan waktu: Turun</option>
          </select>
          <select id="categoryDropdown" class="bg-[#b85c2c] md:text-base text-sm text-white font-bold py-2 px-1 md:px-4 rounded-lg transition duration-300 ease-in-out transform hover:bg-[#b85c2c] hover:scale-101 mt-4">
              <option value="all">Semua kategori</option>
              <option value="FnB">FnB</option>
              <option value="Dekorasi">Dekorasi</option>
              <option value="Pakaian/Kain">Pakaian/Kain</option>
              <option value="Lulur & Aromateraphy">Lulur & Aromatherapy</option>
              <option value="Aksesoris">Aksesoris</option>
          </select>
      </div>
    </div>
</div>

{% include 'footer.html' %}

<script>
    let sortAscending = false;

    document.getElementById("sortDropdown").addEventListener("change", function() {
    refreshProduct();
    });
    document.getElementById("categoryDropdown").addEventListener("change", function() {
    refreshProduct();
    });

    document.addEventListener("DOMContentLoaded", function() {
        const productElement = document.querySelectorAll('.product-name');
        
        productElement.forEach((element) => {
            let textLength = element.textContent.length;
            if(textLength > 30){
                element.style.fontSize = '0.8rem'
            }
            else if (textLength > 20) {
                element.style.fontSize = '0.9rem';
            } else if (textLength > 10) {
                element.style.fontSize = '1rem';
            } else {
                element.style.fontSize = '1.25rem';
            }
        });
    });

    async function getProduct() {
        return fetch("{% url 'adminview:show_json' %}").then((res) => res.json())
    }

    async function refreshProduct() {
      document.getElementById("product_cards").innerHTML = "";
      const productEntries = await getProduct();
      let htmlString = "";

      const sortOption = document.getElementById("sortDropdown").value;
      const categoryOption = document.getElementById("categoryDropdown").value;

      let filteredEntries = productEntries.filter((item) => {
          if (categoryOption === "all") return true;
          return item.fields.category === categoryOption;
      });
      
      filteredEntries.sort((a, b) => {
        if (sortOption === "ascending") {
            return a.fields.price - b.fields.price;
        } else if (sortOption === "descending") {
            return b.fields.price - a.fields.price;
        } else if (sortOption === "atoz") {
            return a.fields.name.localeCompare(b.fields.name);
        } else if (sortOption === "ztoa") {
            return b.fields.name.localeCompare(a.fields.name);
        } else if (sortOption === "newtoold") {
            return new Date(b.fields.date_created) - new Date(a.fields.date_created);
        } else {
            return new Date(a.fields.date_created) - new Date(b.fields.date_created);
        }
      });
      
      console.log("panjangnya adalah ");
      console.log(filteredEntries.length);

      if (filteredEntries.length === 0) {
        htmlString = `
        <div class="flex items-center justify-center mt-24 space-x-4 ml-8">
            <img src="{% static 'image/barong.png' %}" alt="No Products Available" class="w-160">
        </div>
      `;

      } else {
          htmlString = `
          <div class="flex flex-wrap gap-5 w-full max-w-7xl p-5 mt-24 justify-start w-full">
          `;
          filteredEntries.forEach((item) => {
              const name = item.fields.name;
              const price = item.fields.price;
              const picture = item.fields.picture;

              htmlString += `
              <div class="bg-white bg-opacity-50 w-32 md:w-48 border border-gray-300 rounded-lg sm:p-5 p-3 shadow-lg hover:scale-105 transition-transform duration-200 text-center flex flex-col justify-between ">
                  <div>
                      ${picture ? `<img src="/media/${picture}" alt="${name}" class="md:w-36 md:h-36 w-24 h-24" style="object-fit: cover; border-radius: 8px; margin: 0 auto;">` : ''}
                      <h5 class="product-name mb-2 font-semibold mt-4 line-clamp-2">${name}</h5>
                      <h5 class="mb-4 text-gray-700">Rp${price}</h5>
                  </div>
                  <div class="flex md:space-x-4 space-x-2 justify-center">
                      <a href="/view/${item.pk}" class="text-blue-500 hover:underline text-sm md:text-base">Detil</a>
                  </div>
              </div>
              `;
          });
          htmlString += `</div>`;
      }
      document.getElementById("product_cards").innerHTML = htmlString;
  }
  

    refreshProduct();
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent')


</script>

{% endblock content %}