{% extends 'base.html' %}

{% block content %}

<h3>{{ product.name }}</h3>
<h4>Price: {{ product.price }}</h4>
<h4>Location: {{ product.location }}</h4>
<h4>Shop: {{ product.shop }}</h4>
<h4>Description: <pre>{{ product.description }}</pre></h4>

<form action="{% url 'cart:add_product_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <label for="cart_amount">Amount:</label>
    <input type="text" name="cart_amount" required>
    <button type="submit" class="btn btn-secondary">Add to Cart</button>
</form>

<a href="{% url 'display:display_main' %}" class="btn btn-secondary">Back</a>


{% endblock %}